<!DOCTYPE html>
<html lang="es">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Mis Perris</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <div class="container-flex teal lighten-2">
      <header class="row-flex">
        <div class="col-xs-12">
          <div class="header center-align">
              <a href="/"> <img src="{% static 'img/logo.png' %}" alt="Logo Mis Perris" id="logo"></a>
          </div>
        </div>
      </header>

      <div class="row-flex">
        <div class="col-xs-12 col-md-3 first-md">
          <div class="menu">
                <h4><a href="/" class="white-text center-align">inicio</a></h4>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 between-md">
          <div class="menu">
            <h4><a href="#" class="white-text center-align">quienes somos</a></h4>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 between-md">
          <div class="menu">
            <h4><a href="#" class="white-text center-align">servicios</a></h4>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 last-md">
          <div class="menu">
           <h4><a href="formulario" class="white-text center-align">adopta!</a></h4> 
          </div>
        </div>
      </div>
    
    <div class="carousel carousel-slider">
      <a href="#Apolo!" class="carousel-item"><img src="{% static 'imagenes/adoptados/Apolo.jpg' %}" alt="Apolo"></a>
      <a href="#Duque!" class="carousel-item"><img src="{% static 'imagenes/adoptados/Duque.jpg' %}" alt="Duque"></a>
      <a href="#Tom!" class="carousel-item"><img src="{% static 'imagenes/adoptados/Tom.jpg' %}" alt="Tom"></a>
    </div>

  <div class="menu" id="social">
    <div class="table">
      <ul id="horizontal-list">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/rescate.jpg' %}" alt="Perro Negro">
              <span class="card-title"><h4>Rescate</h4></span>
            </div>
            <div class="card-content">
            <h5>Etapa uno</h5>
            <blockquote>
                <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
            </blockquote>
            </div>
          </div>
        </div>

        <div class="col s5 push-s1">
            <div class="card">
            <div class="card-image">
                <img src="{% static 'img/crowfunding.jpg' %}" alt="Comida de perro">
                <span class="card-title black-text right-align"><h4>Crowfunding</h4></span>
            </div>
            <div class="card-content">
            <h5>Financiamiento</h5>
            <blockquote>
                <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            </blockquote>
            </div>
            </div>
        </div>
    </div>
  
  <script>
    $(document).ready(function(){
      $('.materialbox').materialbox();
    });
    </script>

<div class="row card teal lighten-5" id="card">
  <div class="row center-align">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'imagenes/rescatados/Oso.jpg' %}" alt="Oso" class="responsive-img card materialbox">
        </div>
        <div class="card-content">
          <p>Nombre: Oso</p>
          <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck. Much ruin diet bork sub woofer shooberino the neighborhood pupper maximum borkdrive doing me a frighten fluffer, ur givin me a spook wow such tempt wrinkler such treat snoot smol. </p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="{% static 'imagenes/rescatados/Maya.jpg' %}" alt="Maya" class="responsive-img card materialbox">
        </div>
        <div class="card-content">
          <p>Nombre: Maya</p>
          <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="{% static 'imagenes/rescatados/Wifi.jpg' %}" alt="Wifi" class="responsive-img card materialbox">
        </div>
        <div class="card-content">
          <p>Nombre: Wifi</p>
          <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'imagenes/rescatados/Chocolate.jpg' %}" alt="Chocolate" class="responsive-img card materialbox">
        </div>
          <div class="card-content">
              <p>Nombre: Chocolate</p>
              <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="{% static 'imagenes/rescatados/Pexel.jpg' %}" alt="Pixel" class="responsive-img card materialbox">
          </div>
          <div class="card-content">
              <p>Nombre: Pexel</p>
              <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck.</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'imagenes/rescatados/Bigotes.jpg' %}" alt="Bigotes" class="responsive-img card materialbox">
          </div>
          <div class="card-content">
              <p>Nombre: Bigotes</p>
              <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck. Mlem big ol maximum borkdrive doggorino, yapper wrinkler. much ruin diet thicc clouds. what a nice floof yapper. Extremely cuuuuuute h*ck snoot long woofer such treat vvv h*ck lotsa pats, ruff shoob big ol you are doing me a frighten wrinkler blop.  extremely cuuuuuute pupper heckin angery woofer. </p>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="{% static 'imagenes/rescatados/Luna.jpg' %}" alt="Luna" class="responsive-img card materialbox">
          </div>
          <div class="card-content">
            <p>Nombre: Luna</p>
            <p>Reseña: Doggo ipsum wrinkler doggorino I am bekom fat mlem, vvv heck.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
      </div>
      <div class="col s4">
      </div>
      <div class="col s4">
    </div> 
      </div>
    </div>
  </div>
      <footer id="credits">
        <p>Latitud: {{latitud}} Longitud: {{longitud}}</p>
        <p>IP: {{ip}}</p>
      </footer>

      <script>
            $('.carousel').carousel({  
            });
            setTimeout(autoplay, 4500);
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            };
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true,
            }).height(700);
          </script>
    </body>
  </html>