<!DOCTYPE html>
<html lang="es">
<html>

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Formulario</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/ccs.custom.css' %}">
</head>

<body>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal">
                <a href="index"> <img src="{% static 'img/logo.png' %}" alt="Logo Mis Perris"> </a>
                <ul id="nav-mobile" class="hide-on-med-and-down right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">{{pais}} {{region}} {{ciudad}}</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row teal white-text hide-on-large-only">
        <hr>
        <div class="center">
            <h5 href="#">Inicio</h5>
        </div>
        <hr>
        <div class="center">
            <h5 href="#">Quienes Somos</h5>
        </div>
        <hr>
        <div class="center">
            <h5 href="#">Servicios</h5>
        </div>
        <hr>
        <div class="center">
            <h5 href="#">Contáctenos</h5>
        </div>
    </div>
    <div class="row">
        <div class="background teal lighten-4 ">
            <div class="row">

                <div class="carousel carousel-slider ">
                    <div class="carousel-fixed-item teal hide-on-med-and-down">
                        <div class="col s12 l4 ">
                            <h5 class="center white-text">+ 56 9 98765431</h5>
                        </div>

                        <div class="col s12 l4">
                            <h5 class="center white-text">Rescate y adopción de perros callejeros </h5>
                        </div>


                        <div class="col s12 l4">
                            <div class="container top">
                                <div class="row"></div>
                                <div class="col s3 l2">
                                    <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/fb.png' %}"></i></a>
                                </div>
                                <div class="col s3 l2">
                                    <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/google.png' %}"></i></a>
                                </div>
                                <div class="col s3 l2">
                                    <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/instagram.png' %}"></i></a>
                                </div>
                                <div class="col s3 l2">
                                    <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/mail.png' %}"></i></a>
                                </div>
                                <div class="row"></div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item card" href="#one!">
                        <div class="card-image">
                            <img src="{% static 'img/adoptados/Apolo.jpg' %}">
                            <span class="card-title">
                                <p><h6 class="black-text" style="font-weight:bold">"Estamos completamente locos con Rita, es más que buena..preciosa,</h6></p>
                                <p><h6 class="black-text" style="font-weight:bold">estamos toda la familia enamorados..Está ya vacunada de todo…</h6></p>
                                <p><h6 class="black-text" style="font-weight:bold">y tenemos asignado un veterinario voluntario en asistir perros de la perrera de Barcelona…</h6></p>
                                <p><h6 class="black-text" style="font-weight:bold"> encantado también con ella, muchiiisimas gracias por todo tu apoyo…"</h6></p>
                                <p class="black-text" style="font-weight:bold">Maria Dolors</p>
                                <p class="black-text" style="font-weight:bold">Barcelona</p>
                                <br>
                                <br>
                            </span>
                        </div>
                    </div>

                    <div class="carousel-item card" href="#two!">
                        <div class="card-image">
                            <img src="{% static 'img/adoptados/Duque.jpg' %}">
                            <span class="card-title">
                                    <p><h6 class="white-text" style="font-weight:bold">"Hemos buscado perros en varias protectoras,</h6></p>
                                    <p><h6 class="white-text" style="font-weight:bold">pero como Mis Perris no vimos nada parecido</h6></p>
                                    <p><h6 class="white-text" style="font-weight:bold">Al final nos decidimos por Alex</h6></p>
                                    <p><h6 class="white-text" style="font-weight:bold">  que fue recuperado en la carretera por buena gente."</h6></p>
                                    <p class="white-text" style="font-weight:bold">Maite Perez</p>
                                    <p class="white-text" style="font-weight:bold">Garraf</p>
                                    <br>
                                    <br>
                            </span>
                        </div>
                    </div>

                    <div class="carousel-item card" href="#three!">
                        <div class="card-image">
                            <img src="{% static 'img/adoptados/Tom.jpg' %}">
                            <span class="card-title">
                                    <p><h6 class="black-text" style="font-weight:bold">"Henos adoptado un perro para llevarnos a Alemania. </h6></p>
                                    <p><h6 class="black-text" style="font-weight:bold">Estamos muy contentos</h6></p>
                                    <p><h6 class="black-text" style="font-weight:bold">Gracias por la pasciencia y los consejos que nos dieron."</h6></p>
                                    <p class="black-text" style="font-weight:bold">Pablo Bermudez</p>
                                    <p class="black-text" style="font-weight:bold">Vilanoiva i la Geltru</p>
                                    <br>
                                    <br>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row  hide-on-large-only">
        <div class="container right">
            <div class="col s3">
                <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/fb.png' %}"></i></a>
            </div>
            <div class="col s3">
                <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/google.png' %}"></i></a>
            </div>
            <div class="col s3">
                <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/instagram.png' %}"></i></a>
            </div>
            <div class="col s3">
                <a class="btn-floating btn-small waves-effect waves-light white"><i><img src="{% static 'img/mail.png' %}"></i></a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12 l6 ">
            <hr>
            <h2>Rescate</h2>
            <p class="subtitulo">Etapa Uno</p>
            <hr>
            <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.
            </p>
            <div class="center"><img src="{% static 'img/rescate.jpg' %}" height="300" alt="Perro Negro"> </div>
        </div>
        <div class="col s12 l6 ">
            <hr>
            <div class="center"><img src="{% static 'img/crowfunding.jpg' %}" height="300" alt=""></div>
            <h2>CROWDFUNDING</h2>
            <p class="subtitulo">Financiamiento</p>
            <hr>
            <p>
                Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.
            </p>
            <a href="#!" class="modal-close waves-effect waves-green btn left"><i class="material-icons left"><img src="{% static '' %}img/house.png"></i>Campañas</a>
        </div>
    </div>
    <div>

        <div class="row card teal lighten-4">
            <div class="section" />
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Bigotes.jpg' %}" class="responsive-img card  materialboxed">
                        <span class="card-title">Bigotes</span>
                    </div>
                    <div class="card-content">
                        <p>Bigotes es un perrito de 6 años aproximadamente, tamaño mediano un poco más grande que un cocker, muy dócil y cariñoso, lamentablemente el dueño de Cristóbal era un adulto mayor que murió y ya adoptaron a su hermanito, por lo que
                            esta solito. Busca una familia que le pueda dar un hogar lleno de amor, se adapta muy bien tanto afuera como adentro ya que es muy tranquilo y además se lleva bien con otros perritos.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Wifi.jpg' %}" class="responsive-img card materialboxed">
                        <span class="card-title">Wifi</span>
                    </div>
                    <div class="card-content">
                        <p>Nuestro querido Wifi ya está vacunado y esterilizado, y listo para irse con una familia que lo quiera de verdad. Es un mestizo de aproximadamente 6 años, muy buen carácter con niños y adultos. Se lleva bien con la mayoría de los
                            perros y es un excelente y fiel guardián.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Luna.jpg' %}" class="responsive-img card materialboxed">
                        <span class="card-title">Luna</span>
                    </div>
                    <div class="card-content">
                        <p>Rescatado listo para adopción se encuentra en óptimas condiciones es juguetón y lleno de amor por dar en el hogar temporal ya no lo pueden tener favor su ayuda para que encuentre una familia a quien dar amor incondicional.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Maya.jpg' %}" class="responsive-img card materialboxed">
                        <span class="card-title black-text">Maya</span>
                    </div>
                    <div class="card-content">
                        <p>¿Me adoptas? Soy una pequeña de 3 meses aprox , soy tierna, regalona y juguetona, pase mucho hambre y tristezas cuando me abandonaron en la calle, por eso ahora busco una familia que me ame y cuide por siempre. Estoy desparasitada
                            y muy sanita.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Oso.jpg' %}" class="responsive-img card  materialboxed">
                        <span class="card-title">Oso</span>
                    </div>
                    <div class="card-content">
                        <p>Oso fue adoptado por una excelente familia pero sucedió algo que salió mal y la familia ya no lo puede tener y ahora buscan una familia para Chasquito.Una familia que lo ame y lo cuide.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Pexel.jpg' %}" class="responsive-img card  materialboxed">
                        <span class="card-title">Pexel</span>
                    </div>
                    <div class="card-content">
                        <p>Lindo perrito mestizo maltés, tamaño pequeño-mediano (6 kilos) , adulto. Está en búsqueda de una familia responsable. Se entrega vacunado, castrado y con limpieza de dientes (como ven en una de las fotos tenía horrible la salud
                            dental, ni siquiera podía masticar la comida debido al dolor). Se lleva bien con otros perros y gatos. Sabe pasear, se porta muy bien pero es muy muy muy regalón. Le gusta estar siempre acompañado, es ideal para una persona
                            relativamente mayor pero que tenga tiempo para jugar o sacarlo a pasear. Fue encontrado en malas condiciones, es por eso que buscamos una persona comprometida a adoptarlo para toda la vida. Su vida no es desechable.</p>
                    </div>
                </div>

            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/rescatados/Chocolate.jpg' %}" class="responsive-img card materialboxed">
                        <span class="card-title black-text">Chocolate</span>
                    </div>
                    <div class="card-content">
                        <p>BUSCA HOGAR DEFINITIVO O TEMPORAL Nueva encontrada ABANDONADA al medio de la nada, hembra aprox 3 años, patitas cortitas, muy amorosa, sólo está un poco asustada, se entrega esterilizada. Aprox stgo o por un buen hogar </p>
                    </div>
                </div>


            </div>
        </div>


    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">

                </div>
                <div class="col l4 offset-l2 s12">
                    <p>Latitud: {{latitud}} Longitud: {{longitud}}</p>
                    <p>IP: {{ip}}</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Desarrollo Web y Mobile DuocUC
                <p id="mostrar"> </p>
            </div>

        </div>
    </footer>

    <div class="fixed-action-btn">
        <a class="waves-effect waves-light btn-small modal-trigger right pulse" href="#formulariopostulacion"><i class="material-icons left">pets</i>Postular</a>
    </div>
    <!--Boton formulario de postulacion -->


    <div id="formulariopostulacion" class="modal">
        <div class="modal-content">
            <div class="card-panel teal">
                <span class="white-text">Formulario de postulacion adopcion
					</span>
            </div>

            <form id="formulario_mascotas" name="formulario_mascotas" method="POST" action="">
                {% csrf_token %}
                <div class="input-field">
                    <label for="correo">Correo Electornico:</label>
                    <input type="email" class="validate" name="correo" placeholder="Ingrese Direccion de Correo Electronico" class="required" size="20" required="" aria-required="true" />
                    <span class="helper-text" data-error="Correo no valido" data-success=""></span>
                </div>

                <label for="rut">RUT:</label>
                <input type="text" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT">

                <div class="input-field">
                    <label for="nombre">Nombre Completo:</label>
                    <input type="text" class="validate" name="nombre" placeholder="Ingrese Nombre Completo" size="20" pattern="^[a-zA-Z ]*$" required="" aria-required="true" />
                    <span class="helper-text" data-error="Nombre no valido" data-success=""></span>
                </div>

                <div class="row">
                    <div class="col s12 m6" class="input-field">
                        <i class="tiny material-icons prefix">date_range</i>
                        <label for="fechaNac">Fecha de Nacimiento:</label>
                        <input id="fechaNac" name="fechaNac" type="text" class="datepicker" required onchange="checkFecha()" placeholder="Seleccione fecha de nacimiento">
                    </div>

                    <div class="col s12 m6" class="input-field">
                        <i class="tiny material-icons prefix">phone</i>
                        <label for="telefono">Telefono de Contacto:</label>
                        <input type="number" name="telefono" min="1000000" max="999999999999" placeholder="Ingrese Telefono de Contacto" class="validate" size="20" required />
                        <span class="helper-text" data-error="Numero de telefono muy corto" data-success=""></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="input-field ">
                            <select id="regiones" name="regiones" required></select>
                            <label>Region</label>
                            <span class="helper-text" data-error="Seleccione Region" data-success=""></span>
                        </div>

                    </div>
                    <div class="col s12 m6">
                        <div class="input-field">
                            <select id="comunas" name="comunas" required></select>
                            <label>Comuna</label>
                            <span class="helper-text" data-error="Seleccione Comuna" data-success=""></span>
                        </div>
                    </div>
                </div>

                <div class="input-field">
                    <select id="tipoVivienda" name="tipoVivienda" required>
							<option value="" disabled selected>Seleccione tipo vivienda</option>
							<option value="1">Casa con patio grande</option>
							<option value="2">Casa con patio pequeño</option>
							<option value="3">Casa sin patio</option>
							<option value="4">Departamento</option>
					</select>
                    <label>Tipo Vivienda</label>
                    <span class="helper-text" data-error="Seleccione tipo vivienda" data-success=""></span>
                </div>

                <div class="imput-field">
                    <button class=" waves-effect waves-green btn" name="boton" type="submit" value="OK"><i class="material-icons right " >send</i>Enviar</a>
                </div>
			</form>
		</div>        
    </div> <!--Formulario de postulacion -->
        
      <!--JavaScript at end of body for optimized loading-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript " src="{% static 'js/validarRUT.js' %} "></script>
        <script type="text/javascript "src="{% static 'js/validarFecha.js' %} "></script>
        <script src="{% static 'js/regionComuna.js' %} "></script>

        <script>
			$(document).ready(function(){
			$('.datepicker').datepicker({
                format:'dd-mm-yyyy',
                selectMonths: true,
                selectYears: 120 
                })
			});
        </script> 
        <script> 
			$(document).ready(function(){
			$('select').formSelect();
			}); 
            $(document).change(function(){
			$('select').formSelect();
			});
                                
            $(document).ready(function(){
            $('.sidenav').sidenav();
            });
            $(document).ready(function(){
            $('.modal').modal();
            });
            $('.carousel').carousel({  
            });
            setTimeout(autoplay, 4500);
            function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
            };
            $('.carousel.carousel-slider').carousel({
            fullWidth: true
            });
            $(document).ready(function(){
            $('.materialboxed').materialbox();
            });
            $(document).ready(function() {
            $('.sidenav').sidenav();
            });
            
        </script> 
        
    </body>
  </html>